@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
.titre {
    font-family: 'Potta One', cursive;
}

body {
    margin: 0;
    color: #333;
}

header {
    background-color: rgba(135, 233, 228, 0.589);
    padding: 10px;
    border-bottom: solid rgb(121, 121, 187) 2px;
    box-shadow: 2px 14px 26px -3px rgba(79, 73, 79, 1);
    margin-bottom: 20px;
}

#users,
#content {
    border: solid grey 2px;
    height: 60vh;
}

#content {
    flex-grow: 1;
    overflow: auto;
    background-color: rgba(233, 135, 228, 0.432);
}

#users {
    width: 200px;
    background-color: rgba(255, 125, 186, 0.767);
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    margin: 0.25rem;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li.notif {
    padding: 0.1rem 1rem;
    color: #666666
}

#usersList {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0 0 0;
}

#usersList>li {
    padding: 0.2rem 0.5rem;
}